h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 60px;
    text-align: center;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
body{
    background-color: bisque;
    margin-left: 10%;
    margin-right: 10%;
}
ul{
    font-size: 30;
    font-weight: 200;
}
.navbar{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: bisque;
    position: sticky;
    top: 0;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: green;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
        width: 100%;
}
.Main{
    display: flex;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: justify;
    vertical-align:middle;
}
.SubSec1{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: justify;
    vertical-align:middle;
}
.SubSec2{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
}
.SubSec3{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
    vertical-align: middle;
}
img{
    padding: 10px;
    transition: transform .2s;
    margin: 0 auto;
}
img:hover{
    transform: scale(1.5);
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}